<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="btn">ttt</button>
    <script>
        const btn = document.getElementById("btn")
        function foo(x, y){
            console.log(x)
            console.log("y: " + y)
            return undefined
        }
        
        // btn.addEventListener('click', foo('zzzz'))

        // btn.addEventListener('click', foo)

        // btn.addEventListener('click', foo('10','20'))
        btn.addEventListener('click',()=>{ foo('11','21')})


  


   




    </script>
</body>
</html>